
{{- $hpDisplay := printf "%d/%d" .Character.Health .Character.HealthMax.GetValue }}
{{- $mpDisplay := printf "%d/%d" .Character.Mana .Character.ManaMax.GetValue }}
  ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">Base Value</ansi> ────────────────────────┐
  │ <ansi fakeprop="strength"  ><ansi fg="yellow">Strength:   </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Strength.GetValue .Character.Stats.Strength.GetMods     ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Strength.GetMods   }}</ansi> 
    <ansi fakeprop="vitality"  ><ansi fg="yellow">Vitality:   </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Vitality.GetValue .Character.Stats.Vitality.GetMods     ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Vitality.GetMods   }}</ansi> 
    <ansi fakeprop="speed"     ><ansi fg="yellow">Speed:      </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Speed.GetValue .Character.Stats.Speed.GetMods           ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Speed.GetMods      }}</ansi> 
    <ansi fakeprop="mysticism" ><ansi fg="yellow">Mysticism:  </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Mysticism.GetValue .Character.Stats.Mysticism.GetMods   ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Mysticism.GetMods  }}</ansi> 
    <ansi fakeprop="smarts"    ><ansi fg="yellow">Smarts:     </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Smarts.GetValue .Character.Stats.Smarts.GetMods         ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Smarts.GetMods     }}</ansi> 
  │ <ansi fakeprop="perception"><ansi fg="yellow">Perception: </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Perception.GetValue .Character.Stats.Perception.GetMods ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Perception.GetMods }}</ansi> 
  └───────────────────────────────────────┘
  You have <ansi fg="201">{{ .Character.StatPoints }}</ansi> points left to spend.
